

<mat-toolbar color="primary" class="topNav">
  <mat-toolbar-row>
    <a mat-button routerLink="/home"><mat-icon>home</mat-icon></a>
    <h2>MSU Broad Art Museum</h2>
    <a mat-button routerLink="/"><mat-icon>flight_takeoff</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="feed">
  <div class="exhibitContainer">
    <button mat-raised-button class="exhibitContent" (click)="onClick(category.id)" *ngFor="let category of currentCategories">
      {{category.name}}
    </button>
  </div>
</div>

<div class="bottomWrapper">
<mat-toolbar color="primary" class="bottomNav">
  <mat-toolbar-row>
      <a  mat-button  routerLink="/home">Tours</a>
      <a  mat-button  routerLink="/home">AR</a>
      <a  mat-fab  routerLink="/home" color="primary"><mat-icon>power_settings_new</mat-icon></a>
      <a  mat-button  routerLink="/chat">Chat</a>
      <a  mat-button  routerLink="/labelSelect">...</a>
  </mat-toolbar-row>
</mat-toolbar>
</div>
