<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <a mat-button onClick="javascript:history.back()"><mat-icon>arrow_back</mat-icon></a>
    <h2 [innerHTML]="post.title.rendered"></h2>
    <a mat-button (click)="chatClicked()"><mat-icon>chat_bubble</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="featuredArt" class="center">
  <img alt="Artwork image" class="mat-card-image" mat-card-image [src]="post.acf.image.url">
  <mat-card-content>
    <p class = "artistName">{{post.acf.artist_name}}</p>
    <p class = "artistLocation">{{post.acf.artist_location}}</p>
    <p class = "artistBirthYear">{{post.acf.artist_birth_year}}</p>
    <p class = "artworkTitle">{{post.acf.artwork_title}}</p>
    <p class = "artworkYear">{{post.acf.artwork_year}}</p>
    <p class = "artworkMaterials">{{post.acf.artwork_materials}}</p>
    <p class = "acknowledgements">{{post.acf.acknowledgements}}</p>
  </mat-card-content>
</mat-card> 
<div class="center">
    <audio *ngIf = "hasAudio" [src] = "audioURL" controls></audio>
</div>
<div class ="center" [innerHTML] = "innerHTML"></div>

<div *ngIf = "hasAR" style="display:flex; margin:3em auto; flex-direction: column; max-width:400px; overflow:hidden;">
  <model-viewer style="width:100%" class="model"  [src]="AR.android" [ios-src]="AR.ios" [alt]="AR.alt" background-color="#70BCD1" shadow-intensity="1" camera-controls="" interaction-prompt="auto" auto-rotate="" ar="" magic-leap=""></model-viewer>
</div>

<div class ="center" [innerHTML] = "videoHTML"></div>
<p class="center" *ngIf="subCategories.length!==0"><b>Exhibits Within Collection</b></p>
<div class="center" *ngFor="let category of subCategories">
  <button mat-raised-button class="exhibitContent" (click)="onSubCategoryClick(category.id)">
      {{category.name}}
  </button>
  <br>
</div>
<br>

<div class="bottomWrapper">
<mat-toolbar color="primary" class="bottomNav">
    <mat-toolbar-row>
        <a  mat-button  routerLink="/home">Tours</a>
        <a  mat-button  routerLink="/home">AR</a>
        <a  mat-fab  routerLink="/home" color="primary"><mat-icon>power_settings_new</mat-icon></a>
        <a  mat-button  (click)="chatClicked()">Chat</a>
        <a  mat-button  routerLink="/home">...</a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>