<div class="artwork">
    <!--Add functionality of displaying image of artwork with label?-->
</div>

<div class="Tombstone" *ngIf="currentArtwork!=null">
    <p class="artist">{{currentArtwork.acf.artist}}</p>
    <p class="artistYear">{{currentArtwork.acf.artist_year}}</p>
    <p class="artistLocation">{{currentArtwork.acf.artist_location}}</p>
    <p class="artworkTitle">{{currentArtwork.acf.artwork_title}}</p>
    <p class="artworkYear">{{currentArtwork.acf.artwork_year}}</p>
    <p class="materials">{{currentArtwork.acf.materials}}</p>
    <p class="acknowledgements">{{currentArtwork.acf.acknowledgements}}</p>
</div>

<div class="arrow" *ngIf="false">
    <!--
        toDo: Create arrow that will hide tombstone information and show the main content
    -->
</div>

<div class ="labelContent" *ngIf="currentLabel!=null">
    <span *ngIf="currentLabel.acf.firstBody != null">{{currentLabel.acf.firstBody}}</span>
    <a class="extendedLink" *ngIf="extendedLabel1 != null" (click)="onExtension(extendedLabel1)">{{extendedLabel1.title.rendered}}</a>
    <span *ngIf="currentLabel.acf.secondBody != null">{{currentLabel.acf.secondBody}}</span>
    <a class="extendedLink" *ngIf="extendedLabel2!= null" (click)="onExtension(extendedLabel2)">{{extendedLabel2.title.rendered}}</a>
    <span *ngIf="currentLabel.acf.thirdBody != null">{{currentLabel.acf.thirdBody}}</span>
    <a class="extendedLink" *ngIf="extendedLabel3 != null" (click)="onExtension(extendedLabel3)">{{extendedLabel3.title.rendered}}</a>
    <span *ngIf="currentLabel.acf.fourthBody != null">{{currentLabel.acf.fourthBody}}</span>
    <a class="extendedLink" *ngIf="extendedLabel4 != null" (click)="onExtension(extendedLabel4)">{{extendedLabel4.title.rendered}}</a>
    <span *ngIf="currentLabel.acf.additionalContent != null">{{currentLabel.acf.additionalContent}}</span>
</div>

<div class="extendedContent" *ngIf="showExtended">
    <img [src]="currentExtended.acf.extended_image.url" [height]="currentExtended.acf.extended_image.height" [width]="currentExtended.acf.extended_image.width">
    <div [innerHTML]="currentExtended.acf.content"></div>
</div>