<mat-toolbar color="primary" class="topNav">
    <mat-toolbar-row>
      <a mat-button routerLink="/home"><mat-icon>flight_takeoff</mat-icon></a>
      <h2>MSU Broad Art Museum</h2>
    </mat-toolbar-row>
</mat-toolbar>

<div class="mainContent">
  <div class="chatroomListWrapper">
    <app-chatroom-list></app-chatroom-list>
  </div>
  <div #scroller class="feedWrapper">
    <app-feed></app-feed>
  </div>
</div>

<div class="chatFormWrapper">
  <app-chat-form></app-chat-form>
</div>

<mat-toolbar color="primary" class="bottomNav">
    <mat-toolbar-row>
        <a  mat-button  routerLink="/home">Tours</a>
        <a  mat-button  routerLink="/home">AR</a>
        <a  mat-fab  routerLink="/home" color="primary"><mat-icon>power_settings_new</mat-icon></a>
        <a  mat-button  routerLink="/home">Chat</a>
        <a  mat-button  routerLink="/home">...</a>
    </mat-toolbar-row>
  </mat-toolbar>