<div class="feed" *ngIf="showButtons===true">
  <div class="exhibitContainer">
    <button mat-raised-button id= 0 class="exhibitContent" (click)="onClick(labels[0])">
      Smart Label 1
    </button>
    <br>
    <button id=1 mat-raised-button class="exhibitContent" (click)="onClick(labels[1])">
      Smart Label 2
    </button>
  </div>
</div>
<div class="labelContent" *ngIf="showLabelContent">
  <mat-card class="featuredArt" class="center">
    <img alt="Artwork image" class="mat-card-image" mat-card-image [src]="labelContent.acf.image.url"
    [height] = "labelContent.acf.image.sizes['medium-height']" [width]="labelContent.acf.image.sizes['medium-width']" >
    <mat-card-content>
      <p class = "artistName">{{labelContent.acf.artist_name}}</p>
      <p class = "artistLocation">{{labelContent.acf.artist_location}}</p>
      <p class = "artistBirthYear">{{labelContent.acf.artist_birth_year}}</p>
      <p class = "artworkTitle">{{labelContent.acf.artwork_title}}</p>
      <p class = "artworkYear">{{labelContent.acf.artwork_year}}</p>
      <p class = "artworkMaterials">{{labelContent.acf.artwork_materials}}</p>
      <p class = "acknowledgements">{{labelContent.acf.acknowledgements}}</p>
      <div class="center" *ngIf="hasAudio">
          <audio [src] = "audioURL" controls ></audio>
      </div>
    </mat-card-content>
  </mat-card> 

  <div class ="center" class="innerHTML" [innerHTML] = "innerHTML" ></div>
  <div class ="center" [innerHTML] = "videoHTML" *ngIf="hasVideo"></div>
  <div class="center">
    <img [src] = "labelContent.acf.qr_image.url" alt="QR Code" [height]= "labelContent.acf.qr_image.sizes['medium-height']"
    [width]="labelContent.acf.qr_image.sizes['medium-width']" *ngIf=hasQRCode>
  </div>
  <button id=1 mat-raised-button class="exhibitContent" (click)="showLabels()">
    Other Labels
  </button>
  <br>
</div>
