<div class="feed">
  <div class="exhibitContainer">
    <button mat-raised-button class="exhibitContent" (click)="onClick(category.id)" *ngFor="let category of currentCategories">
      {{category.name}}
    </button>
  </div>
</div>
<mat-card class="featuredArt" class="center">
  <img alt="Artwork image" class="mat-card-image" mat-card-image [src]="post.acf.image.url">
  <mat-card-content>
    <p class = "artistName">{{post.acf.artist_name}}</p>
    <p class = "artistLocation">{{post.acf.artist_location}}</p>
    <p class = "artistBirthYear">{{post.acf.artist_birth_year}}</p>
    <p class = "artworkTitle">{{post.acf.artwork_title}}</p>
    <p class = "artworkYear">{{post.acf.artwork_year}}</p>
    <p class = "artworkMaterials">{{post.acf.artwork_materials}}</p>
    <p class = "acknowledgements">{{post.acf.acknowledgements}}</p>
  </mat-card-content>
</mat-card> 
<div class="center">
    <audio [src] = "audioURL" controls></audio>
</div>
<div class ="center" [innerHTML] = "innerHTML"></div>
<div class ="center" [innerHTML] = "videoHTML"></div>
<p class="center" *ngIf="subCategories.length!==0"><b>Exhibits Within Collection</b></p>
<div class="center" *ngFor="let category of subCategories">
  <button mat-raised-button class="exhibitContent" (click)="onSubCategoryClick(category.id)">
      {{category.name}}
  </button>
  <br>
</div>
<br>