
.button2{
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 2;
}
.center{
    text-align: center;
}
.toolbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
  text-align: center;
}
.text{
    top:3.5em;
}
.youtube-player{
    height: 100%;
    width:100%
}
iframe{
    height: 100%;
    width:100%
}
.model-container{
    padding-left:2.5em;
}
.model{
    margin:0 auto;
}
.objects{
    margin:1em auto;
    padding:1em auto;
}
.bottomNav{
    bottom:0;
}
.exhibitContent{
    height: auto;
    width:70%;
    flex: 9;
    margin-bottom:.125em;
    background-color: #fff;
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.bottomWrapper{
    margin-top:5em;
}

.innerHTML{
    padding:inherit;
    text-align: center;
}

.artworkImage{
    width:auto;
}

body{
    margin: 50px 0px 0px 50px;
}
.p1{
    font: bold 35px Helvetica;
}
    
.p2{
    font: normal 25px Helvetica;  
}
.p3{
    font: bold italic 35px Helvetica;
}
        
.button1 {
    border: none;
    padding: 16px 32px;
    
    float: right;
    color: #808080;
    
    cursor: pointer;
    font: Helvetica;    
}