
<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <a mat-button routerLink="/home"><mat-icon>home</mat-icon></a>
      <h2>{{exhibit.name}}</h2>
      <a mat-button routerLink="/home"><mat-icon>chat_bubble</mat-icon></a>
    </mat-toolbar-row>
  </mat-toolbar>
<mat-card class="center">
  <img mat-card-image src={{exhibit.imageURL}}>
  <button mat-mini-fab color="primary"><mat-icon class="center">play_arrow</mat-icon></button>
  <mat-progress-bar value="20"></mat-progress-bar>
</mat-card>

<mat-card class="text">
  <mat-card-content class="center">
    <p>{{exhibit.information}}</p><iframe *ngIf="hasVideo()" [src]="exhibit.videoURL | safeURL" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-card-content>
  <model-viewer *ngIf="hasModel()"src="https://cdn.glitch.com/36cb8393-65c6-408d-a538-055ada20431b/Astronaut.glb?1542147958948" alt="A 3D model of an astronaut" background-color="#70BCD1" shadow-intensity="1" camera-controls="" interaction-prompt="auto" auto-rotate="" ar="" magic-leap="">
  </model-viewer>
</mat-card>
<button mat-fab color="primary" class="button1"><mat-icon>arrow_back</mat-icon></button>
<button mat-fab color="primary" class="button2"><mat-icon>arrow_forward</mat-icon></button>