<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <a mat-button onClick="javascript:history.back()"><mat-icon>arrow_back</mat-icon></a>
    <h2>Login</h2>
  </mat-toolbar-row>
</mat-toolbar>


<div *ngIf="hasToken === false">
  <p class="center">Login to Wordpress to join the Conversation</p>
  <button mat-raised-button class="center" (click)="loginToWordpress()">
    Go to Wordpress
  </button>
</div>

<div *ngIf="hasToken === true">
  <p class="center">Thank you for logging into Wordpress!</p>
  <button mat-raised-button class="center" (click)="getToken()">
    Login to App
  </button>
</div>

<div class="bottomWrapper">
<mat-toolbar color="primary" class="bottomNav">
    <mat-toolbar-row>
        <a  mat-button  routerLink="/home">Tours</a>
        <a  mat-button  routerLink="/home">AR</a>
        <a  mat-fab  routerLink="/home" color="primary"><mat-icon>power_settings_new</mat-icon></a>
        <a  mat-button  routerLink="/home">...</a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>