personalWordpressSite = "https://culturalnexus.msu.edu/wordpress";
wordpressAPI = "https://culturalnexus.msu.edu/wordpress/wp-json/wp/v2/"
authenticateToken = "https://culturalnexus.msu.edu/wordpress/wp-json/jwt-auth/v1/token"
authenticateRegister = "https://culturalnexus.msu.edu/wordpress/wp-json/wp/v2/users/register"