<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item (click)="displayAll()">Chat</a>
        <a mat-list-item (click)="displayAnswers()">Questions & Answers</a>
        <a mat-list-item (click)="login()" *ngIf="isLoggedIn === false">Login to Chat</a>
        <a mat-list-item (click)="logout()" *ngIf="isLoggedIn === true">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a mat-button routerLink="/home"><mat-icon>home</mat-icon></a>
        <span [innerHTML]="currentArtwork.ACF.artwork_title"></span>
      </mat-toolbar>
      <!-- Add Content Here -->

  
  <div class="message" *ngIf="displayQuestions === false">
    <div class="message" *ngFor="let comment of currentComments.slice().reverse()">
      <div class="messageContainer">
        <div class="messageData">
          <img [src]="comment.author_avatar_urls[48]">
          <span class="sender" *ngIf="comment.author_name !== '' && comment.author_name !== null && comment.author_name !== undefined">{{comment.author_name}}</span>
          <span class="sender" *ngIf="comment.author_name === '' || comment.author_name === null || comment.author_name === undefined">Visitor</span>
          <span class="timestamp" [innerHTML]="comment.date | date: 'MM/dd/yyyy hh:mm:ss'"></span>
        </div>
        <div class="messageContent" [innerHTML]="comment.content.rendered"></div>
      </div>
    </div>
  </div>

  <div class="message" *ngIf="displayQuestions === true">
      <div class="message" *ngFor="let comment of answeredComments.slice().reverse()">
        <div class="messageContainer">
          <div class="messageData">
            <img [src]="comment.author_avatar_urls[48]">
            <span class="sender" *ngIf="comment.author_name !== '' && comment.author_name !== null && comment.author_name !== undefined">{{comment.author_name}}</span>
            <span class="sender" *ngIf="comment.author_name === '' || comment.author_name === null || comment.author_name === undefined">Visitor</span>
            <span class="timestamp" [innerHTML]="comment.date | date: 'MM/dd/yyyy hh:mm:ss'"></span>
          </div>
          <div class="messageContent" [innerHTML]="comment.content.rendered"></div>
        </div>
      </div>
    </div>

<input
    class="chatInput"
    [(ngModel)]="messageInput"
    (keydown)="handleSubmit($event)"
    *ngIf="isLoggedIn === true && isUnderQA === false"/>
<button class="chatButton" (click)="send()" *ngIf="isLoggedIn === true && isUnderQA === false">Send</button>
      
    </mat-sidenav-content>

  </mat-sidenav-container>
  
  
